[package]
name = "openssh"
version = "0.8.1"
authors = ["Jon Gjengset <jon@thesquareplanet.com>"]
edition = "2018"
license = "MIT OR Apache-2.0"

readme = "README.md"
description = "SSH through OpenSSH"
repository = "https://github.com/jonhoo/openssh-rs.git"

keywords = ["ssh","remote","openssh","orchestration"]
categories = ["network-programming", "api-bindings"]

[badges]
azure-devops = { project = "jonhoo/jonhoo", pipeline = "openssh", build = "23" }
codecov = { repository = "jonhoo/openssh-rs", branch = "master", service = "github" }
maintenance = { status = "experimental" }

[dependencies]
tempfile = "3.1.0"
shell-escape = "0.1"
tokio = { version = "1", features = [ "process", "io-util" ] }

[dev-dependencies]
lazy_static = "1.4.0"
regex = "1"
tokio = { version = "1", features = [ "full" ] }

