on:
  push:
    branches: [master]
    paths-ignore:
      - 'build_doc.sh'
      - 'check.sh'
      - 'run_ci_tests.sh'
      - 'start_sshd.sh'
      - 'stop_sshd.sh'
  pull_request:
    paths-ignore:
      - 'build_doc.sh'
      - 'check.sh'
      - 'run_ci_tests.sh'
      - 'start_sshd.sh'
      - 'stop_sshd.sh'
name: os check
jobs:
  os-check:
    runs-on: ${{ matrix.os }}
    name: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest]
    steps:
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
      - uses: actions/checkout@v2
      - name: Create Cargo.lock
        uses: actions-rs/cargo@v1
        with:
          command: update
      - uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-${{ hashFiles('**/Cargo.lock') }}-os-check-v0
      - name: cargo test
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --all-features --all-targets
